<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>

    <header class="site-header">
        <div class="container">
            <h1 class="logo"><a href="/">Jamesorango<span class="dot">.</span></a></h1>
            <nav>
                <ul>
                    <li><a href="/">Blog</a></li>
                    <li><a href="#">Sobre</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="container">
        {{ content }}
    </main>

    <footer>
        <div class="container">
            <p>&copy; {{ site.time | date: '%Y' }} Jamesorango.com.br. GitHub Pages.</p>
        </div>
    </footer>

</body>
</html>